<!--<div>
<p>    parara pa tim pam pa ram   </p>
{{mensagem}}

<h1>eae men kkkasodhoasdjoaisjd oasijd oiasjd oiasjd oiajsd oiasjd oiajs doiajs odiajs doiajs doiajs doiajs doiajs doiaj sdoiajsd klajsd lkajsd lkasjd</h1>


</div>-->
<div class="col-md-12">
    <div class="col-md-12">
        <div class="title-screen">
            <h3>ÁREA DO PROFESSOR</h3>
            <p> Apoiando o professor na tomada de decisões</p>
        </div>
    </div>
    <div class="row">                                     
        <div class="col-md-12">
            <div class="col-md-10">              
                <!-- card 1 - ganho mensal -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card red">                  
                            <h4> GANHO DO <strong>MÊS CORRENTE</strong></h4>
                            <div class="row">
                                <div class="col-md-5">
                                    <p>TICKET MÉDIO <br>
                                        <span class="destaque">R$ 48,35</span></p>
                                </div>
                                <div class="col-md-7">
                                    <p>REPASSE DO MÊS <br>
                                        <span class="destaque">R$ 180,00
                                        </span></p>
                                </div>
                                <hr class="divider-h">
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <p>TOTAL BRUTO <br>
                                        <span class="destaque">R$ 1.700,00
                                        </span></p>
                                </div>
                                <div class="col-md-7">
                                    <p>TOTAL LÍQUIDO MENSAL</p>
                                    <h2>R$ 1.520,00</h2>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- Fim card 1 - ganho mensal -->
                    <!-- card 2 - Distribuição Semanal -->
                    <div class="col-md-6">
                        <div class="card">
                            <h4>DISTRIBUIÇÂO SEMANAL 
                                DE  <strong>CARGA HORÁRIA</strong> </h4>
                            <img src="img/grafico.png">
                        </div>
                    </div>  
                    <!-- FIM card 2 - Distribuição Semanal -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card m-t-20">
                            <h4>ACOMPANHAMENTO
                                DE <strong> GANHOS MENSAIS </strong></h4>
                            <img style="width: 400px;" src="img/grafico-02.png">
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="card m-t-20">
                            <h4>PLANO DE<strong> AULA </strong></h4>  
                            <div class="row">  
                                <div class="col-md-8 plano-aula">                               
                                    <ul>
                                        <a href=""><li>Defesa Pessoal A02</li></a>
                                        <a href=""><li>Plan. Aula Sem 03</li></a>
                                        <a href=""><li>Plan. Aula Sem 02</li></a>
                                        <a href=""><li>Plan. Aula Sem 01</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" style="text-decoration: none;"><div class="btn-add add-plano">
                                        <i class="material-icons add-icon">add_circle</i>
                                        <p>CRIAR NOVO <br> PLANO DE AULA</p>
                                        </div></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card m-t-20">
                            <h4>MATERIAL DE<strong> APOIO </strong></h4>  
                            <div class="row">  
                                <div class="col-md-12 plano-aula">                               
                                    <ul>
                                        <a href=""><li>Defesa Pessoal A02</li></a>
                                        <a href=""><li>Plan. Aula Sem 03</li></a>
                                        <a href=""><li>Plan. Aula Sem 02</li></a>
                                        <a href=""><li>Plan. Aula Sem 01</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                        <a href=""><li>Plan. Aula Sem 56</li></a>
                                    </ul>
                                </div>                                    
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-3">
                        <div class="card unidades m-t-20">
                            <h4>NÚMEROS <strong>ATUAIS</strong></h4>  
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>05</h2>
                                </div>
                                <div class="col-md-8">
                                    <p>UNIDADE(S)</p>
                                </div>
                            </div> 
                            <hr class="divider-h">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>05</h2>
                                </div>
                                <div class="col-md-8">
                                    <p>UNIDADE(S)</p>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card alunos m-t-20">
                            <h4>NÚMERO TOTAL <br>DE <strong>ALUNOS</strong></h4> 
                            <div class="row">  
                                <div class="col-md-12">
                                    <h2>35</h2>
                                </div>  
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>          
            <div class="col-md-2">
                <div class="card">
                    <h4>PREVISÂO DO 
                        <strong>TEMPO</strong></h4>                                
                    <img class="img-provisorio" src="img/previsao.png">
                </div>
                <div class="card red m-t-20">
                    <h4>PRÓXIMO <strong>EVENTO</strong></h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="datas">
                                <h2>05/03</h2>
                                <p><strong>EXAME DE FAIXA</strong></p>                                      
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn-clouds">VER TODOS</button>
                            <button class="btn-midnight m-t-10">VER DETALHES</button>
                        </div>
                    </div>
                </div>
            </div>                            
        </div>
    </div>
</div>
