<form name="formNovaTurma">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <div class="title-screen">
                    <h3>GESTÃO DE TURMAS</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-t-135">
                <div class="form-group m-t-30">
                    <select class="form-control circle-input" ng-model="turma.unidade" name="unidade" ng-options="unidade.id as unidade.nome for unidade in unidades track by unidade.id"
                        required>
                        <option value="" selected disabled>UNIDADE</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 m-t-135">
                <div class="form-group m-t-30">
                    <input class="form-control circle-input" type="text" ng-model="turma.professor" name="professor" placeholder="PROFESSOR" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control circle-input" type="text" name="inicio" mask="23:59" ng-model="turma.horaInicio" placeholder="INÍCIO" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control circle-input" type="text" name="termino" mask="23:59" ng-model="turma.horaFim" placeholder="TÉRMINO" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control circle-input" ng-model="turma.curso" name="curso" ng-options="curso.id as curso.nome for curso in cursos track by curso.id"
                        required>
                        <option value="" selected disabled>CURSO</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="label-checkbox title">DIAS DE AULA</label>
                <div class="form-group check-box" ng-repeat="dia in checkboxDias">
                    <label>
                        <input class="checkbox" type="checkbox" checklist-model="turma.diaAulaTurmaApoio" checklist-value="dia.value" checklist-comparator="compararDiaSemana">
                        <label class="label-checkbox">{{dia.text}}</label>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="label-radio title">TURNOS</label>
                    <div class="form-group">
                        <input class="" type="radio" ng-model="turma.turno" name="turno" value="manha" required>
                        <label class="label-checkbox">MANHÃ </label>
                    </div>
                    <div class="form-group">
                        <input class="" type="radio" ng-model="turma.turno" name="turno" value="tarde" required>
                        <label class="label-checkbox">TARDE</label>
                    </div>
                    <div class="form-group">
                        <input class="" type="radio" ng-model="turma.turno" name="turno" value="noite" required>
                        <label class="label-checkbox">NOITE</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn-white" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lista-aluno">ADICIONAR ALUNOS PARA ESSA TURMA
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control circle-input" type="text" name="mensalidade" ng-model="turma.mensalidade" mask="999.99" placeholder="MENSALIDADE" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control circle-input" type="text" name="rateio" ng-model="turma.rateio" mask="99" placeholder="RATEIO" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 m-t-30 col-md-offset-7">
                    <button class="btn-midnight" ng-click="limparForm()">LIMPAR</button>
                </div>
                <div class="col-md-3 m-t-30">
                    <button ng-click="salvarTurma(turma)" type="button" class="btn-alizarin" ng-if="!turma.id" ng-disabled="formNovaTurma.$invalid || turma.diaAulaTurmaApoio.length === 0 || turma.alunos.length === 0">ADICIONAR TURMA</button>
                    <button ng-click="alterarTurma(turma)" type="button" class="btn-alizarin" ng-if="turma.id" ng-disabled="formNovaTurma.$invalid || turma.diaAulaTurmaApoio.length === 0 || turma.alunos.length === 0">ALTERAR TURMA</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- modal lista aluno -->
<div class="modal fade" id="modal-lista-aluno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>ADICIONAR ALUNOS</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group check-box" ng-repeat="aluno in alunos">
                            <label>
                                <input class="checkbox" type="checkbox" checklist-model="turma.alunos" checklist-value="aluno" checklist-comparator="compararAluno">
                                <label class="label-checkbox"></label>{{aluno.nome}}</label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn-midnight" data-dismiss="modal">CONCLUIR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal confirmacao-->
<div id="modal-aluno-adicionado" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content card">
            <h3>PARABÉNS! A SUA TURMA FOI SALVA COM SUCESSO!</h3>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <button class="btn-midnight" data-dismiss="modal">ADICIONAR NOVA TURMA</button>
                </div>
                <div class="col-md-5">
                    <button class="btn-midnight">VER DADOS FINANCEIROS</button>
                </div>
            </div>
        </div>
    </div>
</div>