<div class="row" ng-controller="sideMenuController">
    <div class="col-md-2 side-nav">
        <div class="row"> 
            <div class="col-md-12 perfil-user">
                <div class="opcoes">
                    <i class="material-icons white">expand_more</i>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <img src="images/lutador.png" alt="..." class="img-circle img-responsive"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="caption">
                            <p class="info-perfil">Olá, <strong> Luiz Felipe Villar </strong> <i class="material-icons icon-color-blue">notifications</i> </p>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="pointer" id="openCircleMenu" ng-click="abrirCircleMenu()">
                    <i class="material-icons add-more" >add</i>
            </div>   
            <div>
                <a class="pointer" id="openMenuBar" ng-click="abrirSideMenu()">
                    <i class="material-icons more">more_vert</i> </a>
            </div>         
        </div>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2 content p-0"> 
        <div class="row">                  
            <div id="circleMenu" class="menu-circle">
                <ul>
                    <li class="home-li pointer"><a href="check_in.html"><i class="material-icons circle">check_circle</i>CHECK-IN </a></li>
                    <li class="unidade-li pointer"><i class="material-icons circle" ng-click="irNovaUnidade()">account_balance</i>UNIDADES</li>
                    <li class="alunos-li pointer"><a href="add_alunos.html"><i class="material-icons circle">person</i>ALUNOS </a></li>
                    <li class="turmas-li pointer"><i class="material-icons circle" ng-click="irNovaTurma()">group</i>TURMAS</li>
                    <li class="aula-li pointer"><a href="add_plano_de_aula.html"><i class="material-icons circle">insert_drive_file</i>PLANO <br/> DE AULA </a></li>
                </ul>              
            </div>
            <div id="sideMenu" class="menu-nav">
                <ul class="ul-nav">
                    <li class="li-nav"><a href="index.html" style="color: #fff;"><i class="material-icons side-menu" style="display: block;">home</i>HOME </a></li>
                    <li class="li-nav pointer"><a href="" style="color: #fff;"><i class="material-icons side-menu" ng-click="irGestaoUnidades()">account_balance</i>UNIDADES </a></li>
                    <li class="li-nav"><a href="gestao_alunos.html" style="color: #fff;"><i class="material-icons side-menu">person</i>ALUNOS </a></li>
                    <li class="li-nav"><a href="gestao_turmas.html" style="color: #fff;"><i class="material-icons side-menu">group</i>TURMAS </a></li>
                    <li class="li-nav"><a href="gestao_plano_de_aula.html" style="color: #fff;"><i class="material-icons side-menu" style="display: block;">insert_drive_file</i>PLANO <br/> DE AULA </a></li>
                </ul>
            </div>
        </div>                

    </div>
</div>    